<% layout('layout') -%>

<div class="row">
  <div class="col-lg-6 col-md-offset-3">

    <% if (errors.length > 0) { %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= errors %>
      </div>
    <% } %>

    <form method="post">

      <h1> Signup </h1>

      <div class="form-group">
        <label="name">Name: </label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label="name">Email: </label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label="name">Password: </label>
        <input type="password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
</div>
